.profileContainer {
  display: flex;
  flex-direction: row;
  max-width: 1077px;
  margin: 120px auto;
  column-gap: 68px;
}

.menu {
  width: 320px;
  height: 64px;
  cursor: pointer;
}

.text {
  color: darkgray;
  width: 320px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}