.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 520px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.list {
  width: 520px;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}